<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">The page was not found:(</h1>
        <hr />
        <div class="message__btns">
            <a class="btn btn-outline-success" asp-controller="movies" asp-action="Index" >
                Home page
            </a>
        </div>
    </div>
</div>